.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(1):hover{
	background: url(../../assets/images/szervezetfejlesztes_active.png);
    background-size: cover;
    color: #ff0;
    border-radius: 50%;
    border: 2px solid #ff0;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(2):hover{
	background: url(../../assets/images/coaching_active.png);
    background-size: cover;
    color: #ff0;
    border-radius: 50%;
    border: 2px solid #ff0;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(3):hover{
	background: url(../../assets/images/trening_active.png);
    background-size: cover;
    color: #ff0;
    border-radius: 50%;
    border: 2px solid #ff0;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(4):hover{
    background: url(../../assets/images/epsz_active.png);
    background-size: cover;
    color: #ff0;
    border-radius: 50%;
    border: 2px solid #ff0;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(5){
    display: none;
}
section#coaching .cloudgirl{
    background-image: url(../../assets/images/coaching_2.jpg);
    border-radius: 50%;
    background-attachment: fixed;
    margin-bottom: 100px;
    background-position-y: 65%;
}
.page-id-6 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(1):after{
	line-height: normal;
	margin-top: 57px;
	padding-bottom: 2px;
	content: "Szervezetfejlesztés";
}

.page-id-6 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(2):after{
	line-height: normal;
	margin-top: 57px;
	padding-bottom: 2px;
	content: "Tréning";
}

.page-id-6 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(3):after{
    line-height: normal;
    margin-top: 57px;
    padding-bottom: 2px;
    content: "Coaching";
}
.page-id-6 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(4):after{
    line-height: normal;
    margin-top: 57px;
    padding-bottom: 2px;
    content: "Pszichológiai szolgáltatások";
}
.page-id-109 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(1):after{
	line-height: normal;
	margin-top: 57px;
	padding-bottom: 2px;
	content: "Organizational development";

}

.page-id-109 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(2):after{
	line-height: normal;
	margin-top: 57px;
	padding-bottom: 2px;
	content: "Training";

}

.page-id-109 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(3):after{
    line-height: normal;
    margin-top: 57px;
    padding-bottom: 2px;
    content: "Coaching";

}
.page-id-109 .cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(4):after{
    line-height: normal;
    margin-top: 57px;
    padding-bottom: 2px;
    content: "Psychological services";

}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(5):after{
    display: none;

}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(5):hover:after{
    display: none;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(4):hover:after{
    color:#FF0;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(3):hover:after{
	color:#FF0;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(2):hover:after{
	color:#FF0;
}
.cycloneslider-template-standard .cycloneslider-pager span:nth-of-type(1):hover:after{
	color:#FF0;
}
.cycloneslider-template-standard .cycloneslider-pager span{
	margin-top: 60px;
}
.cycloneslider-template-standard .cycloneslider-pager span:after{
	margin-top: 57px;
}
.page-id-109 ol, ul:after{
    margin-top:-8px;
}
.page-image{
    height: 80vh;
}
.content .content-block div .col-md-8{
    border-left: 1px solid yellow;

}

.page-header.scrolled-down nav ul li a{
    font-size: 10px;
}

@media screen and (max-width: 720px) {
    .cycloneslider-template-standard .cycloneslider-pager span:after{
        font-size: 11px!important;
        margin-top: 25px!important;
    }
    .content .content-block div, .content .list-block div li, .content .list-block div p, .content .list-block ul li, .content .list-block ul p {
    font-size: 16px!important;
    }
    .page-image .section-preview{
        margin-left: 35%!important;
    }
}
@media screen and (min-width: 992px) {
    footer{
        height: 430px!important;
    }
}

@media only screen and (max-width: 992px){
    .page-image .section-preview h2.section-title {
        font-size: 30px!important;
}

}

section#services .content-block:nth-child(2) h2:after {
    background-image: none!important;
    width: 91px;
}

section#services .content-block:nth-child(3) h2:after{
    background-image: none!important;
    width: 91px;
}

section#services .content-block:nth-child(4) h2:after{
    background-image: none!important;
    width: 91px;
}

section#services .content-block:nth-child(5) h2:after {
    background-image: none!important;
    width: 91px;
}

section#services .content-block:nth-child(6) h2:after{
    background-image: none!important;
    width: 91px;
}

#referenciak{
    background-color: #353145;
    border-top: 1px solid #ffff00;
    text-align: center;
}

#referenciak h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    font-weight: bold;
    color: #ffff00;
}

#ref-blocks{
    min-height: 160px;
    padding-bottom: 20px;
}

#referenciak .ref-block{
    display: inline-block;
    min-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ababab;
}

#referenciak .ref-block img{
    height: 50px;
    width: auto;
}

#home-splitted-selector .backToStart, section#work .backToStart {
    top: 60px!important;
}

.mobile-menu li{
    line-height: 20px!important;
}

.mobile-menu li a{
    font-size: 16px!important;
}

.go-to-page{
    display: none!important;
}

#work .content-block:nth-child(5) ul li {
    min-width: 160px!important;
}

.page-image {
    height: 80vh!important;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .page-header.scrolled-down nav.menu ul li.in-slider{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
}

#fedlap .splitter-mirror {
    top: 57.5vh!important;
    z-index: 99999999;
}

#fedlap #logo-blueman {
        background: url(../../assets/images/logo-blueman.png) 62.5% 20% no-repeat!important;
}

#coaching .content-block .col-md-4{
    text-align: left;
}

.epszhead{
    text-align: center;
    margin-top: 0;
    margin-bottom: 90px;
    padding-top: 40px;
    font-weight: bold;
    color: #ffff00;
}