<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
</head>
<body>
<div>
    <form action="/login" method="POST">
        <p>User</p>
        <input type="text" name="username"/>
        <p>Password</p>
        <input type="password" name="password"/><br/>
        <input type="submit"></input>
    </form>
</div>
<div th:if="${login}">
    <table  style="width:100%" border="1">
        <tr>
            <th >Name</th>
            <th>Job</th>
            <th >Email</th>
            <th>Phone</th>
            <th>CV</th>
            <th>Delete</th>
        </tr>
        <tr th:each="apply:${applies}">
            <td th:text="${apply.name}"></td>
            <td th:text="${apply.job}"></td>
            <td th:text="${apply.email}"></td>
            <td th:text="${apply.phone}"></td>
            <td><div th:if="${#strings.length(apply.filename) > 0}"><a th:href="'/download/' + ${apply.getId()}" >Download CV</a></div></td>
            <td><a th:href="'/delete/'+ ${apply.getId()}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>