<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="apolo">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4 ">
                    <div class="image-zoom img-responsive img-desktop">
                        <img class="img-responsive" src="/assets/images/apolo.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads contact-desktop">
                        <ul>
                            <li><i class="icon-phone"></i><a class=" " href="tel:+36705775080" target="_blank">+36705775080</a></li>
                            <li><i class="icon-mail"></i><a class=" " href="mailto:info@humanskill.hu" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span>Nurse - The Netherlands</span></h1>
                    <p class="small">  </p>
                    <div class="downloads contact-mobile" style="display:none;">
                        <ul>
                            <li><i class="icon-phone"></i><a class=" " href="tel:+36705775080" target="_blank">+36705775080</a></li>
                            <li><i class="icon-mail"></i><a class=" " href="mailto:info@humanskill.hu" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>

                                        <div style=""><span style="font-size: 12pt;"><span>How have you impacted someone&#x27;s life today? We are
                    focused on changing the lives of our clients by providing the highest level of care each and every day.
                    We provide our clients with long term care in the comfort of their own home. Our complete
                    spectrum of services will allow you to apply your skills in multiple settings while building your career
                    all within our company&#x27;s healthcare system. </span></span></div>


                    <div style=""><span style="font-size: 12pt;"><span>You will support en assist our clients in long-term care at their home. You are genuinely interested in
                    people and are service oriented. You can fully appreciate the fact that with us the client is at the very
                    core of our business. You like to have an independent role and take your own responsibility. You have
                    an eye for changes in different home health situations and your mission is to stimulate the
                    self-reliance of your client as much as possible. You like to build a relationship of trust with our clients
                    and their support system. You have a helicopter view and are always in contact with all disciplines
                    involved. You make sure that we&#x27;re providing the best quality of care. Our clients have an intensive-
                    24 hour- care demand and it&#x27;s in your DNA to organize and execute the individual care plan to
                    perfection.</span></span></div>

                    <div style=""><br/><span style="font-size: 12pt;"><strong>WHAT WILL YOU DO EXACTLY?</strong></span><span style="font-size: 12pt;"></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>A day in the life of a &#x201C;WLZ nurse&#x201C; is utilizing the nursing process to assess, plan, implement and
                    evaluate the care of our home health clients. You will support and implement the philosophy, goals
                    and standards of the home health nursing department within Leven en Zorg.  You must demonstrate
                    knowledge of the principles of growth and development of the life span and possess the ability to
                    assess data reflective of the patient&#x27;s status. No day will be the same and you are for example skilled
                    to act in an acute emergency situation in the home of your client. You shall display competence and
                    render care/treatment for our clients. You will be responsible for case management of assigned
                    patients in accordance with our policies and procedures and all other applicable procedure manuals,
                    laws and relevant professional standards. You will always stay in direct contact with our Nursing
                    coordinator.  </span></span></div>

                    <div style=""><br/><span style="font-size: 12pt;"><strong>WHERE ARE YOU WORKING AND FOR WHOM?</strong></span><span style="font-size: 12pt;"></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>Leven en Zorg is a professional organization based in Amsterdam and operating since 2009. You will
                    be working in our brand-new home health nursing department and are ready to start working with
                    best nurses from all over the world. We want you to help us build the success of our department.  We
                    have short communication lines and there are plenty of growth opportunities for building your career.

                    within the company. Leven en Zorg is a professional multidisciplinary organization with various
                    services such as psychiatric help, psychological counseling, Child psychology and Home-aid. Your
                    department provides nursing and care to clients with an intensive care demand at home. The care is
                    characterized by a 24-hour care demand and differs in t Somatic or psychogeriatric disorders and
                        illnesses.  </span></span></div>


                    <div style=""><br/><span style="font-size: 12pt;"><strong>WHAT TALENTS AND SKILLS DO WE LIKE?</strong></span><span style="font-size: 12pt;"></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>You have a command of the English language, both orally and in writing (minimum level A2). You also
                    have a bachelor&#x27;s degree in Nursing and graduated from an accredited school of Nursing with a
                    current license to practice. You are not afraid to live and work in another country and you have
                    affinity with different cultures. You are motivated to learn the Dutch language and establish yourself
                    for a period of time in the Netherlands. The first months when you do not yet have an active nursing
                    registration in the Netherlands you are prepared to join other departments to get affinity with care at
                    home and our clients. At the same time, you are busy with different types of training to further
                        develop yourself as a nurse working in our company.
                    You are stress resistant and can take your rest during your work in the 24-hour care at alternate
                    times. You can structure your own activities and have a positive attitude with the focus on solutions.
                    You are emphatic and have great communication skills and take into account the perception of the
                    client and their environment. You find it important to provide tailor-made care and are also willing to
                        carry out different tasks to optimize the situation of your client at home.</span></span></div>


                    <div style=""><br/>
                        <span style="font-size: 12pt;"><strong>WHAT DO YOU GET FROM US?</strong></span><br/>
                        <span style="font-size: 12pt;">We offer you a job with a lot of variety in activities and growth opportunity. At the same time you get
                        the ability to impact your clients lives by creating the necessary conditions so they can continue to
                        live in the comfort of their home.</span><br/>
                        <span style="font-size: 12pt;">You will also get:</span><br/>
                        <span style="font-size: 12pt;">- Fulltime contract (36 hours)</span><br/>
                        <span style="font-size: 12pt;">- Flexible working hours.</span><br/>
                        <span style="font-size: 12pt;">- Further training in necessary nursing requirements/skills  </span><br/>
                        <span style="font-size: 12pt;">- In company Dutch language training for obtaining the mandatory B1 level from the
                            &#x27;Gemeenschappelijk Europees Opleidingskader&#x27;.  </span><br/>

                        <span style="font-size: 12pt;">- Living space in or near Amsterdam. </span><br/>
                        <span style="font-size: 12pt;">- Career plan guidance </span><br/>
                        <span style="font-size: 12pt;">- Incompany Mentor </span><br/>
                        <span style="font-size: 12pt;">- Support with registration in the Dutch accredited program   </span><br/>
                        <span style="font-size: 12pt;">- A salary scaled In the FWG VVT (Dutch nursing labor agreement) </span><br/>
                        <span style="font-size: 12pt;">- Travel allowance. </span><br/>
                        <span style="font-size: 12pt;">- Good working conditions </span><br/>
                    </div>

                    <div class="display-tc phone-mobile" style="display:none;">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast " >
                                    <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append mt-5">
                                            <button class="btn btn-white btn-outline" type="button" id="submitFormBottom">Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-zoom img-responsive img-mobile" style="display:none;">
                        <img class="img-responsive" src="/assets/images/apolo.jpg"/>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>