<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="betanitottmunkak">
    <div >
        <div id="gtco-features">
            <div class="gtco-container"  id="munkaink">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2>Betan&iacute;tott munk&aacute;k</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" >
                        <a href="/mezogazdasag">
                            <span class="icon">
                                <i class="icon-leaf"></i>
                            </span>

                                <h3>Mez&#337;gazdas&aacute;gi munka</h3>
                                <p>Nyelvtud&aacute;s n&eacute;lk&uuml;li betan&iacute;tott munka Hollandi&aacute;ban!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="50">
                            <a href="/allasok/takarito#munkaink">

                                <span class="icon">
                                    <i class="fas fa-broom"></i>
                                </span>
                                    <h3>Takar&iacute;t&oacute;i munka</h3>
                                    <p>Takar&iacute;t&oacute; munk&aacute;ra keres&uuml;nk embereket &Eacute;szak-Hollandiai partner&uuml;nkh&ouml;z.. </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>