<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="betanitottmunkak">
    <div >
        <div id="gtco-features">
            <div class="gtco-container"  id="munkaink">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2>Betan&iacute;tott munk&aacute;k</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="100">
                            <a href="/allasok/hentes-betanitott#munkaink">

                                <span class="icon">
                                    <i >&#128298;</i>
                                </span>
                                <h3>H&uacute;sipari</h3>
                                <p>Nyelvtud&#225;st &#233;s szaktud&#225;st nem ig&#233;nyl&#337; h&#250;sipari munka Hollandi&#225;ban!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" >
                        <a href="/allasok/mezogazdasag#munkaink">
                            <span class="icon">
                                <i class="icon-leaf"></i>
                            </span>

                                <h3>Mez&#337;gazdas&aacute;gi munka</h3>
                                <p>Nyelvtud&aacute;s n&eacute;lk&uuml;li betan&iacute;tott munka Hollandi&aacute;ban!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="50">
                            <a href="/allasok/takarito#munkaink">

                                <span class="icon">
                                    <i class="fas fa-broom"></i>
                                </span>
                                    <h3>Takar&iacute;t&oacute;i munka</h3>
                                    <p>Takar&iacute;t&oacute; munk&aacute;ra keres&uuml;nk embereket &Eacute;szak-Hollandiai partner&uuml;nkh&ouml;z.. </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="50">
                            <a href="/allasok/gyari-raktari-betanitott#munkaink">

                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <h3>Gy&#xE1;ri &#xE9;s rakt&#xE1;ri betan&#xED;tott munka </h3>
                                <p>Rakt&#xE1;ri &#xE9;s termel&#xE9;si munkat&#xE1;rsakat keres&#xFC;nk Hollandi&aacute;ba </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="50">
                            <a href="/allasok/epitoipari-segedmunka#munkaink">

                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <h3>&#xC9;p&#xED;t&#x151;ipari seg&#xE9;dmunka</h3>
                                <p>&#xC9;p&#xED;t&#x151;ipari seg&#xE9;dmunk&aacute;ra keres&uuml;nk embereket Hollandiai partner&uuml;nkh&ouml;z.. </p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>