<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="gipszkartonozo">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4">
                    <div class="image-zoom img-responsive img-desktop">
                        <img class="img-responsive" src="/assets/images/gipszkarton.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads contact-desktop">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span><span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span> </label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span >Folyamatos munk&aacute;ba &aacute;ll&aacute;ssal keres&uuml;nk gipszkartonoz&oacute;kat Hollandia ter&uuml;let&eacute;re!</span></h1>
                    <p class="small">  </p>
                    <div class="downloads contact-mobile" style="display:none;">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div ><br/><span style="font-size: 12pt;"><strong>Feladatok:</strong></span><br/><span style="font-size: 12pt;"></span></div>
                    <div ><span style="font-size: 12pt;"><span>- burkolati r&eacute;tegek felvitele</span></span></div>
                    <div ><span style="font-size: 12pt;"><span>- d&iacute;sz&iacute;t&#337; burkolati panelek m&eacute;r&eacute;se, kijel&ouml;l&eacute;se &eacute;s felszerel&eacute;se</span></span></div>

                    <div style=""><span style="font-size: 12pt;"><strong>B&eacute;rez&eacute;s</strong></span></div>
                    <span style="font-size: 12pt;">- fizet&eacute;s szaktud&aacute;st&oacute;l f&uuml;gg&#337;en, nett&oacute; 1700&euro;/h&oacute;</span><br/>


                    <div ><span style="font-size: 12pt;"><span></span></span></div><br/>
                    <div ><span style="font-size: 12pt;"><strong>Elv&aacute;r&aacute;sok:</strong></span></div>
                    <div ><span style="font-size: 12pt;">- Angol, n&eacute;met vagy holland nyelv alapszint&#369; (A2) ismerete</span></div>
                    <div ><span style="font-size: 12pt;">- Rugalmass&aacute;g, alkalmazkod&oacute; k&eacute;szs&eacute;g</span></div>
                    <div ><span style="font-size: 12pt;">- Megb&iacute;zhat&oacute;s&aacute;g, terhelhet&#337;s&eacute;g</span></div>
                    <div ><span style="font-size: 12pt;">- B kateg&oacute;ri&aacute;s jogos&iacute;tv&aacute;ny, saj&aacute;t aut&oacute; el&#337;nyt jelent</span><br/></div>
                    <div >
                        <br/>
                        <span style="font-size: 12pt;"><strong>Amit k&iacute;n&aacute;lunk:</strong></span><br/>
                        <span style="font-size: 12pt;">- 0,19&euro;/km &uuml;zemanyag k&ouml;lts&eacute;gt&eacute;r&iacute;t&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- holland bejelent&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- t&uacute;l&oacute;r&aacute;z&aacute;si lehet&#337;s&eacute;g, holland eg&eacute;szs&eacute;gbiztos&iacute;t&aacute;s</span><br/>
                        <span style="font-size: 12pt;">- c&eacute;g &aacute;ltal biztos&iacute;tott, fizetett sz&aacute;ll&aacute;s ig&eacute;nyes apartmanokban</span><br/>
                        <span style="font-size: 12pt;">- magyar nyelv&#369; kapcsolattart&oacute;, teljes k&ouml;r&#369; adminisztr&aacute;ci&oacute;, &uuml;gyint&eacute;z&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- hossz&uacute; t&aacute;v&uacute;, bejelentett folyamatos munka</span><br/>
                        <span style="font-size: 12pt;">- csal&aacute;dias bar&aacute;ti l&eacute;gk&ouml;r</span><br/>


                    </div>
                    <div class="display-tc phone-mobile" style="display:none;">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast " >
                                    <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append mt-5">
                                            <button class="btn btn-white btn-outline" type="button" id="submitFormBottom">Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-zoom img-responsive img-mobile" style="display:none;">
                        <img class="img-responsive" src="/assets/images/gipszkarton.jpg"/>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>