<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="hentes-betanitott">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4">
                    <div class="image-zoom img-responsive img-desktop">
                        <img class="img-responsive" src="/assets/images/hentes2.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads contact-desktop">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv">
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706"/>
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span>Nyelvtud&#225;st &#233;s szaktud&#225;st nem ig&#233;nyl&#337; h&#250;sipari munka Hollandi&#225;ban!</span></h1>
                    <p class="small">  </p>
                    <div class="downloads contact-mobile" style="display:none;">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>


                    <div ><br/><span style="font-size: 12pt;"><strong>Feladatok:</strong></span><br/><span style="font-size: 12pt;"></span></div>
                    <div ><span style="font-size: 12pt;"><span>- k&#252;l&#246;nb&#246;z&#337; k&#233;ses munk&#225;k (darabol&#225;s, h&#225;jt&#233;p&#233;s, kiv&#225;g&#225;s stb.)</span></span></div>
                    <div ><span style="font-size: 12pt;"><span>- betan&#237;t&#225;s van, &#237;gy nem kell el&#337;zetes tapasztalat!</span></span></div>

                    <div style=""><span style="font-size: 12pt;"><strong>B&eacute;rez&eacute;s</strong></span></div>
                    <span style="font-size: 12pt;">- szaktud&#225;st&#243;l f&#252;gg&#337;en minden levon&#225;s ut&#225;n, tiszt&#225;n 1200€-1600€ </span><br/>


                    <div ><span style="font-size: 12pt;"><span></span></span></div><br/>
                    <div ><span style="font-size: 12pt;"><strong>Elv&aacute;r&aacute;sok:</strong></span></div>
                    <div ><span style="font-size: 12pt;">- minim&#225;lis v&#225;g&#243;h&#237;di, k&#233;ses munkatapasztalat</span></div>
                    <div ><span style="font-size: 12pt;">- rugalmass&aacute;g, alkalmazkod&oacute; k&eacute;szs&eacute;g</span></div>
                    <div ><span style="font-size: 12pt;">- Megb&iacute;zhat&oacute;s&aacute;g, terhelhet&#337;s&eacute;g</span></div>
                    <div >
                        <br/>
                        <span style="font-size: 12pt;"><strong>Amit k&iacute;n&aacute;lunk:</strong></span><br/>
                        <span style="font-size: 12pt;">- 5 ledolgozott nap ut&#225;n el&#337;leg k&#233;rhet&#337;</span><br/>
                        <span style="font-size: 12pt;">- t&uacute;l&oacute;r&aacute;z&aacute;si lehet&#337;s&eacute;g</span><br/>
                        <span style="font-size: 12pt;">- c&eacute;g &aacute;ltal biztos&iacute;tott, fizetett sz&aacute;ll&aacute;s</span><br/>
                        <span style="font-size: 12pt;">- hossz&uacute; t&aacute;v&uacute;, bejelentett folyamatos munka</span><br/>
                        <span style="font-size: 12pt;">- magyar nyelv&#369; kapcsolattart&oacute;, teljes k&ouml;r&#369; adminisztr&aacute;ci&oacute;, &uuml;gyint&eacute;z&eacute;s</span><br/>
                    </div>
                    <div class="display-tc phone-mobile" style="display:none;">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast " >
                                    <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append mt-5">
                                            <button class="btn btn-white btn-outline" type="button" id="submitFormBottom">Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-zoom img-responsive img-mobile" style="display:none;">
                        <img class="img-responsive" src="/assets/images/hentes2.jpg"/>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>