<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="hentes">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4">
                    <div class="image-zoom img-responsive img-desktop">
                        <img class="img-responsive" src="/assets/images/hentes.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads contact-desktop">
                        <ul>
                            <li><i class="icon-phone"></i><a class=" " href="tel:+36203827224" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a class=" " href="mailto:info@humanskill.hu" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv">
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706"/>
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span>Marha v&aacute;g&oacute;h&iacute;dra keres&uuml;nk henteseket, nyelvtud&aacute;s nem sz&uuml;ks&eacute;ges!</span></h1>
                    <p class="small">  </p>
                    <div class="downloads contact-mobile" style="display:none;">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>


                    <div ><br/><span style="font-size: 12pt;"><strong>Feladatok:</strong></span><br/><span style="font-size: 12pt;"></span></div>
                    <div ><span style="font-size: 12pt;"><span>- v&aacute;g&oacute; r&eacute;szlegen: sz&uacute;r&aacute;s, bont&aacute;s, akaszt&aacute;s, belez&eacute;s</span></span></div>
                    <div ><span style="font-size: 12pt;"><span>- csontoz&oacute; r&eacute;szlegen: t&ouml;bb poz&iacute;ci&oacute;ban kell tudni dolgozni</span></span></div>

                    <div style=""><span style="font-size: 12pt;"><strong>B&eacute;rez&eacute;s</strong></span></div>
                    <span style="font-size: 12pt;">- fizet&eacute;s szaktud&aacute;st&oacute;l f&uuml;gg&#337;en, minimum: 10-12&euro;/&oacute;ra</span><br/>


                    <div ><span style="font-size: 12pt;"><span></span></span></div><br/>
                    <div ><span style="font-size: 12pt;"><strong>Elv&aacute;r&aacute;sok:</strong></span></div>
                    <div ><span style="font-size: 12pt;">- v&aacute;g&oacute;h&iacute;di, k&eacute;ses munkatapasztalat</span></div>
                    <div ><span style="font-size: 12pt;">- rugalmass&aacute;g, alkalmazkod&oacute; k&eacute;szs&eacute;g</span></div>
                    <div ><span style="font-size: 12pt;">- Megb&iacute;zhat&oacute;s&aacute;g, terhelhet&#337;s&eacute;g</span></div>
                    <div >
                        <br/>
                        <span style="font-size: 12pt;"><strong>Amit k&iacute;n&aacute;lunk:</strong></span><br/>
                        <span style="font-size: 12pt;">- 0,19&euro;/km &uuml;zemanyag k&ouml;lts&eacute;gt&eacute;r&iacute;t&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- t&uacute;l&oacute;r&aacute;z&aacute;si lehet&#337;s&eacute;g, teljes k&ouml;r&#369; holland eg&eacute;szs&eacute;gbiztos&iacute;t&aacute;s</span><br/>
                        <span style="font-size: 12pt;">- holland bejelent&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- c&eacute;g &aacute;ltal biztos&iacute;tott, fizetett sz&aacute;ll&aacute;slehet&#337;s&eacute;g ig&eacute;nyes apartmanokban</span><br/>
                        <span style="font-size: 12pt;">- hossz&uacute; t&aacute;v&uacute;, bejelentett folyamatos munka</span><br/>
                        <span style="font-size: 12pt;">- szervezett munk&aacute;ba j&aacute;r&aacute;s</span><br/>
                        <span style="font-size: 12pt;">- csal&aacute;dias bar&aacute;ti l&eacute;gk&ouml;r</span><br/>
                    </div>
                    <div class="display-tc phone-mobile" style="display:none;">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast " >
                                    <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append mt-5">
                                            <button class="btn btn-white btn-outline" type="button" id="submitFormBottom">Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-zoom img-responsive img-mobile" style="display:none;">
                        <img class="img-responsive" src="/assets/images/hentes.jpg"/>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>