<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="komuves">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4">
                    <div class="image-zoom img-responsive">
                        <img class="img-responsive" src="/assets/images/komuves.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads">
                        <ul>
                            <li><i class="icon-phone"></i><a href="#"> </a><a class=" " href="/_upload/editor/dok/oneletrajz_minta.doc" target="_blank">+3620/382-7224</a></li>
                            <li><i class="icon-mail"></i><a target="_blank" href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8"> </a><a class=" " href="https://itunes.apple.com/hu/app/nemet-szakmunkak/id1119210887?mt=8" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span><span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span> </label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span>Nyelvtud&aacute;st nem ig&eacute;nyl&#337; k&#337;m&#369;ves munka Hollandi&aacute;ban!</span></h1>
                    <p class="small">  </p>


                    <div style="text-align: justify;"><br/><span style="font-size: 12pt;"><strong>Feladatok:</strong></span><br/><span style="font-size: 12pt;"></span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;"><span>- klinkerez&eacute;s</span></span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;"><span>- az &eacute;p&uuml;let alapj&aacute;nak elk&eacute;sz&iacute;t&eacute;se, falak felh&uacute;z&aacute;sa </span></span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;"><span>- habarcs vagy beton kever&eacute;se  </span></span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;"><span>- vakol&oacute; munka v&eacute;gz&eacute;se </span></span></div>



                    <div style="text-align: justify;"><span style="font-size: 12pt;"><span></span></span></div><br/>
                    <div style="text-align: justify;"><span style="font-size: 12pt;"><strong>Elv&aacute;r&aacute;sok:</strong></span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;">- Hasonl&oacute; ter&uuml;leten szerzett tapasztalat</span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;">- Angol vagy n&eacute;met nyelvtud&aacute;s el&#337;ny!</span></div>
                    <div style="text-align: justify;"><span style="font-size: 12pt;">- Jogos&iacute;tv&aacute;ny, saj&aacute;t aut&oacute; el&#337;ny!</span></div>
                    <div style="text-align: justify;">
                        <br/>
                        <span style="font-size: 12pt;"><strong>Amit k&iacute;n&aacute;lunk:</strong></span><br/>
                        <span style="font-size: 12pt;">- betan&iacute;t&aacute;si id&#337;szak ut&aacute;n, kezd&#337; fizet&eacute;s: nett&oacute; 13,5&euro;/&oacute;ra </span><br/>
                        <span style="font-size: 12pt;">- holland bejelent&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- t&uacute;l&oacute;r&aacute;z&aacute;si lehet&#337;s&eacute;g, holland eg&eacute;szs&eacute;gbiztos&iacute;t&aacute;s</span><br/>
                        <span style="font-size: 12pt;">- c&eacute;g &aacute;ltal biztos&iacute;tott, fizetett sz&aacute;ll&aacute;s ig&eacute;nyes apartmanokban</span><br/>
                        <span style="font-size: 12pt;">- magyar nyelv&#369; kapcsolattart&oacute;, teljes k&ouml;r&#369; adminisztr&aacute;ci&oacute;, &uuml;gyint&eacute;z&eacute;s</span><br/>
                        <span style="font-size: 12pt;">- hossz&uacute; t&aacute;v&uacute;, bejelentett folyamatos munka</span><br/>
                        <span style="font-size: 12pt;">- csal&aacute;dias bar&aacute;ti l&eacute;gk&ouml;r</span><br/>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>