<!DOCTYPE html>
<html><head>

    <!-- /.website title -->
    <title>Mezőgazdasági munka Hollandiában</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="Külföldi munkalehetőséget kínálunk szaktudás és nyelvtudás nélkül, betanított munkára várunk jelentkezőket.
    A hollandiai munkavégzés alatt kulturált szállást biztosítunk, kiemelt fizetést és folyamatos, magyar nyelvű információkat, támogatást.
    A külföldi bejelentett munka holland egészségbiztosítást nyújt. A külföldi munka pároknak is jó lehetőség, számukra privát szobát biztosítunk.
    Folyamatos a foglalkoztatás, nyáron szabadtéri betanított munka, télen üvegházi munka.  "/>

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>

    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <link href="/assets/css/animate.css" rel="stylesheet" media="screen"/>
    <link href="/assets/css/owl.theme.css" rel="stylesheet"/>
    <link href="/assets/css/owl.carousel.css" rel="stylesheet"/>

    <!-- Colors -->
    <link href="/assets/css/css-index.css" rel="stylesheet" media="screen"/>
    <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic"/>
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.js"></script>


</head>

<body >

<!-- /.preloader -->

<div id="top"></div>

<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image: url(&quot;/assets/images/tulipan.jpeg&quot;); background-attachment: fixed; " data-img-width="2000" data-img-height="1333" data-diff="100">


    <div class="overlay">
        <div class="container" id="intro7">
            <div class="row" >
                <div class="col-md-7"  >

                    <!-- /.logo -->
                    <div class="logo wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; height: 200%; width: 200%"> <a href="/"><img src="/assets/images/logo.png" alt="logo"/></a></div>

                    <!-- /.main title -->
                    <h1 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                        <b>Nyelvtudás nélküli betanított munka Hollandiában!</b>
                    </h1>
                    <h2 class="wow fadeInLeft animated" style="visibility: visible; color: white; animation-name: fadeInLeft; font-size: 250%;" >Szeretne akár havi 1200€-t (~370000ft) megtakarítani?</h2>

                    <!-- /.header paragraph -->
                    <div class="landing-text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <p style="font-size: 200%!important; text-align: justify">
                            Kiemelt fizetést, <b>kulturált szállást</b> és jó munkakörülményeket biztosító, hivatalos <b>bejelentett munkára</b> keresünk megbízható kollégákat.
                            A kiutazás és a munkavégzés alatt magyar nyelvű kapcsolattartót biztosítunk, mindig van kihez fordulnia!
                            Férfiak, nők, <b>párok jelentkezését</b> is várjuk. </p>
                    </div>

                    <!-- /.header button -->
                    <div class="head-btn wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                       <!-- <a href="#download" class="btn-default">Download</a>-->
                    </div>



                </div>

                <!-- /.signup form -->
                <div class="col-md-5">

                    <div class="signup-header wow fadeInUp animated" id="signupForm" style="visibility: visible; animation-name: fadeInUp;">
                        <h3 class="form-title text-center" style="font-size: 150%; color: #f3f500"><b>JELENTKEZÉS</b></h3>
                        <form class="form-header"  id="submitCV"  >
                            <div class="form-group">
                                <input class="form-control input-lg" name="name" id="name" type="text" placeholder="Teljes név(kötelező)" required="true"/>
                            </div>
                           <!--<div class="form-group">
                                <input class="form-control input-lg" name="email" id="email" type="email" placeholder="Email cím(opcionális)" />
                            </div>-->
                            <div class="form-group">
                                <input class="form-control input-lg" name="phone" id="phone" type="text" placeholder="Telefonszám/e-mail cím(kötelező)" required="true"/>
                            </div>

                       <!-- <div class="form-group">
                                <input type="file" name="file-706" id="file" class="inputfile" />
                                <label for="file" type="btn btn-file" style="color: #f3f500">Önéletrajz feltöltése</label>
                            </div><br/> -->


                            <div class="form-group last">
                                <input type="submit" class="btn btn-warning btn-block btn-lg" id="submitForm" name="submit" value="JELENTKEZEK!" style="background-color: #3f92d6; font-size: 150%; color: #f3f500; font-weight: bold; height:80px "/>
                            </div>
                            <p class="privacy text-center">Nem adjuk ki az e-mail címet! Adatvédelmi tájékoztatónk <a href="/files/adatvedelmi_nyilatkozat.PDF">itt található.</a>.</p>
                            <h4 class="text-center" id="feedBack" style="display: none"></h4>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- /.intro section -->
<div id="intro">
    <div class="container">
        <div class="row">

            <!-- /.intro image -->
            <div class="col-md-6 intro-pic wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft; height: 788px; padding-top: 20px;">

                <img src="/assets/images/kép1.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép5.jpeg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép7.jpeg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép9.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép13.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép14.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép17.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép18.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép19.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép20.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép6.jpg" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép8.JPG" alt="ipad" class="img-responsive mySlides"/>
                <img src="/assets/images/kép10.jpg" alt="ipad" class="img-responsive mySlides"/>




            </div>

            <!-- /.intro content -->
            <div class="col-md-6 wow slideInRight animated" style="visibility: visible; animation-name: slideInRight; padding-left: 20px!important;">
                <h2>Bővebb Információk</h2>
                <p style="font-size: 200%; color:#434343">Feladat:<br/>
                    - mezőgazdasági betanított munka<br/>
                    - virágszedés<br/>
                    - csomagolás<br/>
                    - palántázás<br/>
                    - virágvágás<br/><br/>

                    9.51/óra, mely havi 1000-1200 euró megtakarított pénzt jelenthet!<br/>
                    Nincsenek rejtett költségek!<br/>

                    Elvárások:<br/>
                    - megbízhatóság<br/>
                    - rugalmasság<br/>
                    - NELVTUDÁS NEM SZÜKSÉGES<br/>
                    - SZAKKÉPZETTSÉG NEM SZÜKSÉGES<br/><br/>

                    Mit kínálunk:<br/>
                    - kulturált szállást (wifi, televízió stb.)<br/>
                    - hosszú távú, folyamatos  foglalkoztatást<br/>
                    - holland bejelentést<br/>
                    - holland egészségbiztosítást<br/>
                    - magyar nyelvű segítséget az adminisztrációban és a kint tartózkodás teljes ideje alatt<br/>
                    - családias légkört<br/>
                </p>


            </div>
        </div>
    </div>
</div>

<!-- /.feature section -->


<!-- /.subscribe section -->
<div id="download">elect a File
    <div class="action fullscreen parallax" style="background-image: url(&quot;images/macbook-336704.jpg&quot;); background-attachment: fixed; background-size: 1368px 912.712px;" data-img-width="1920" data-img-height="1281" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center" >
                    <h1 style="margin-top: 20px; color: #f3f500">Kérdéseire azonnal válaszolunk, hívjon minket bizalommal!</h1>
                    <h2 class="download-text" style="color: #f3f500">telefon: +36305146491</h2>
                    <h2 class="download-text" style="color: #f3f500">e-mail: info@humanskill.org</h2>



                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.javascript files -->

<script src="/js/custom.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/ekko-lightbox-min.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/submitForm.js"></script>




<script type="text/javascript">
    $( document ).delegate( '*[data-toggle="lightbox"]', 'click', function ( event ) {
        event.preventDefault();
        $( this ).ekkoLightbox();
    } );
</script>
<script>
    new WOW().init();
</script>

</body>

</html>