<!DOCTYPE HTML>

<html xmlns="://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="ms-index">
    <!--<div class="gtco-loader"></div>-->

    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 text-right gtco-contact">
                        <ul class="">
                            <li><a href="#"><i class="ti-mobile"></i> +3620/382-7224 </a></li>
                            <li><a href="https://www.facebook.com/Human-Skill-420700731661985/"><i class="ti-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo" ><a href="/allasok"><img style="height:70px;" src="/assets/images/logo.png"/> </a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li ><a href="/allasok#jobs">&Aacute;ll&aacute;saink</a></li>
                            <li><a href="/allasok#aboutus">R&oacute;lunk</a></li>
                            <li><a href="/allasok#whyus">Mi&eacute;rt vel&uuml;nk?</a></li>
                            <li><a href="/allasok#references">R&oacute;lunk &iacute;rt&aacute;k</a></li>
                            <li><a href="/allasok#contact">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/assets/images/munkaerokozvetites_menu_opt-1.jpg);">
            <div class="overlay"></div>
            <div class="gtco-container">
                    <div class="col-md-12 col-md-offset-0 " id="pageintro">



                                <div class="display-tc">
                                    <div th:switch="${status}">
                                        <div th:case="'success'">
                                            <div class="row">
                                            <div class="col-md-8 text-center gtco-heading col-md-offset-2" style="margin-top: 200px; font-weight:bold; font-size:25px;margin-bottom:0; color:yellow;">
                                                K&ouml;sz&ouml;nj&uuml;k jelentkez&eacute;s&eacute;t, elfogadtuk &eacute;s koll&eacute;g&aacute;nk 24 &oacute;r&aacute;n bel&uuml;l felkeresi! Amennyiben hamarabb felvenn&eacute; vel&uuml;nk a kapcsolatot, a +36203827224 sz&aacute;mon teheti meg
                                            </div>
                                            <div class="col-md-8 text-center col-md-offset-2">
                                                <div class="item-1">
                                                    <h2 style="text-transform: uppercase;">Ig&eacute;nyes sz&aacute;ll&aacute;s</h2>
                                                </div>
                                                <div class="item-2">
                                                    <h2 style="text-transform: uppercase;">Azonnali kezd&eacute;s </h2>
                                                </div>
                                                <div class="item-3">
                                                    <h2 style="text-transform: uppercase;"> Teljes k&ouml;r&#369; &uuml;gyint&eacute;z&eacute;s</h2>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div th:case="'fail'">
                                            <div class="row">
                                            <div class="col-md-8 text-center gtco-heading col-md-offset-2" style="margin-top: 200px; font-weight:bold; font-size:25px;margin-bottom:0; color:red;">
                                                Jelentkez&eacute;se nem siker&uuml;lt, k&eacute;rj&uuml;k pr&oacute;b&aacute;lja &uacute;jra!
                                            </div>
                                            <div class="col-md-8 text-center col-md-offset-2">
                                                <div class="item-1">
                                                    <h2 style="text-transform: uppercase;">Ig&eacute;nyes sz&aacute;ll&aacute;s</h2>
                                                </div>
                                                <div class="item-2">
                                                    <h2 style="text-transform: uppercase;">Azonnali kezd&eacute;s </h2>
                                                </div>
                                                <div class="item-3">
                                                    <h2 style="text-transform: uppercase;"> Teljes k&ouml;r&#369; &uuml;gyint&eacute;z&eacute;s</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast" style="position:relative;top:60px;">
                                                <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                                    <div class="input-group-append mt-5">
                                                        <button class="btn btn-danger btn-outline" type="button" id="submitForm" style="color:white; background-color:	#B22222;" >Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                                        <p class="privacy text-center">Nem adjuk ki telefonsz&aacute;m&aacute;t! Adatv&eacute;delmi t&aacute;j&eacute;koztat&oacute;nk <a href="/files/adatvedelmi_nyilatkozat.PDF">itt tal&aacute;lhat&oacute;.</a>.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div th:case="'normal'">
                                            <div class="row">
                                            <div class="col-md-8 text-center gtco-heading col-md-offset-2" style="margin-top: 200px; font-weight:bold; font-size:25px;margin-bottom:0; color:yellow;">
                                                Mi seg&#237;t&#252;nk megtal&#225;lni &#225;lmai &#225;ll&#225;s&#225;t! Jelentkezzen ma, hogy ak&#225;r m&#225;r holnap munk&#225;ba &#225;llhasson!
                                            </div>
                                            <div class="col-md-8 text-center col-md-offset-2">
                                                <div class="item-1">
                                                    <h2 style="text-transform: uppercase;">Ig&eacute;nyes sz&aacute;ll&aacute;s</h2>
                                                </div>
                                                <div class="item-2">
                                                    <h2 style="text-transform: uppercase;">Azonnali kezd&eacute;s </h2>
                                                </div>
                                                <div class="item-3">
                                                    <h2 style="text-transform: uppercase;"> Teljes k&ouml;r&#369; &uuml;gyint&eacute;z&eacute;s</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast" style="position:relative;top:60px;">
                                                <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                                    <div class="input-group-append mt-5">
                                                        <button class="btn btn-danger btn-outline" type="button" id="submitForm" style="color:white; background-color:	#B22222;" >Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                                        <p class="privacy text-center">Nem adjuk ki telefonsz&aacute;m&aacute;t! Adatv&eacute;delmi t&aacute;j&eacute;koztat&oacute;nk <a href="/files/adatvedelmi_nyilatkozat.PDF">itt tal&aacute;lhat&oacute;.</a>.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

        </header>

        <div id="gtco-features-3" >
            <div class="gtco-container"  >
                <div class="gtco-flex" id="jobs">
                    <div class="feature feature-1"  data-aos="flip-left" data-aos-easing="ease-in-sine" >
                        <div class="feature-inner" >
						<span class="icon">
							<i class="fas fa-industry"></i>
						</span>
                            <h3>Betan&iacute;tott munk&aacute;k (nyelvtud&aacute;st nem ig&eacute;nyel)</h3>
                            <!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. </p>-->
                            <p><a href="/allasok/betanitottmunkak#munkaink" class="btn btn-white btn-outline">Megn&eacute;zem</a></p>
                        </div>
                    </div>
                    <div class="feature feature-2 " data-aos="flip-down" data-aos-easing="ease-in-sine" >
                        <div class="feature-inner">
						<span class="icon">
							<i class="fas fa-toolbox"></i>
						</span>
                            <h3 >Szakmunk&aacute;k</h3>
                            <!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. </p>-->
                            <p><a href="/allasok/szakmunkak#munkaink" class="btn btn-white btn-outline">Megn&eacute;zem</a></p>
                        </div>
                    </div>
                    <div class="feature feature-3 "  data-aos="flip-right" data-aos-easing="ease-in-sine" >
                        <div class="feature-inner">
						<span class="icon">
							<i class="far fa-lightbulb"></i>
						</span>
                            <h3>Szellemi munk&aacute;k</h3>
                            <!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. </p>-->
                            <p><a href="/allasok/szellemimunkak#munkaink" class="btn btn-white btn-outline">Megn&eacute;zem</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:include="${page} :: ${page}" onmouseover="AOS.refresh();">


        </div>

        <footer id="gtco-footer" role="contentinfo">
            <div class="gtco-container" id="contact">
                <div class="row row-p	b-md">

                    <div class="col-md-4">
                        <div class="gtco-widget">
                            <h3>C&Eacute;GADATOK</h3>
                            <p>Sz&eacute;khely: 1124 Budapest, Sasfi&oacute;k u. 4.</p>
                            <p>C&eacute;gjegyz&eacute;ksz&aacute;m: 01 06 113050</p>
                            <p>Ad&oacute;sz&aacute;m: 28208448343</p>
                            <p>Mag&#xE1;n-munkaer&#x151; nyilv&#xE1;ntart&#xE1;si sz&#xE1;m: BPM/01/19049-1/2015-1010</p>
                            <p>&copy; Copyright 2014. Minden jog fenntartva.</p>
                            <p><a href="/files/adatvedelmi_nyilatkozat.PDF" download="">Adatv&eacute;delmi nyilatkozat</a></p>


                        </div>
                    </div>

                    <div class="col-md-4 col-md-push-1">

                    </div>

                    <div class="col-md-4">
                        <div class="gtco-widget">
                            <h3>EL&Eacute;RHET&#336;S&Eacute;GEK</h3>
                            <ul class="gtco-quick-contact">
                                <li><a><i class="icon-phone"></i>+36 20 382 7224</a></li>
                                <li><a><i class="icon-mail2"></i>info@humanskill.org</a></li>
                                <li><a href="https://www.facebook.com/Human-Skill-420700731661985/" target="_blank"><i class="ti-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>



</div>


</body>
</html>

