<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="ms-main">
    <div id="gtco-history" class="gtco-section border-bottom animate-box fadeInUp animated-fast">
        <div class="gtco-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Rólunk</h2>
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-6">
                    <p>A nemzetközi piacon jelenlévő pszichológusokból,és fejvadászokból álló tanácsadó munkaerő közvetítő cég vagyunk, aki a munkaerő kiközvetítésén túl kiemelt figyelmet fordít a szervezetek és a munkavállalók közti egyensúly megteremtésére, ezzel támogatva a kölcsönös, hosszútávú elégedettséget.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Vállalkozásunk azon felismerésből fakad, miszerint a beváláshoz nem elég csupán a versenyképes fizetés, fontos a megfelelő eletkorulmenyek biztositasa is, így kizárólag ellenőrzött partnerekkel dolgozunk együtt.
                    </p>
                </div>
            </div>


        </div>
    </div>


    <div id="gtco-portfolio" class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>Miért pont velünk?</h2>
 
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-12">
                    <ul id="gtco-portfolio-list">
                        <li class="two-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_1.jpg); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                    <h2>Igényes szállás vár rád</h2>

                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_2.jpg); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                     
                                    <h2>Családias, barátságos légkör fogad</h2>

                                </div>
                            </a>
                        </li>


                        <li class="one-half animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_3.jpg); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <h2>Teljes körű ügyintézés , Lebonyolítjuk  a munkába állást (adószám igénylés, adminisztráció)</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-half animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_4.jpg); ">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <h2>Magyar nyelvű kapcsolattartót biztosítunk</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_5.jpg); ">
                            <a href="#" class="color-5">
                                <div class="case-studies-summary">
                                    <h2>Mert biztonságos munkakörülményeket teremtünk ahol meg van becsülve minden munkavállaló</h2>
                                </div>
                            </a>
                        </li>
                        <li class="two-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_6.jpg); ">
                            <a href="#" class="color-6">
                                <div class="case-studies-summary">
                                    <h2>Mert korrekt bérezést biztosítunk</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="gtco-section">
        <div class="gtco-container">

            <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <p>Az alábbi területeken vagyunk jelen  Hollandiában, Belgiumban, Németországban, Ausztriában, Angliában</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Adminisztráció</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Mezőgazdaság</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Építőipar</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Vendéglátás</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Termelés és gyártás </h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Logisztika és szállítmányozás</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>

</div>

</body>
</html>