<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="ms-main">
    <div id="gtco-history" class="gtco-section border-bottom animate-box fadeInUp animated-fast">
        <div class="gtco-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>R&oacute;lunk</h2>
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-6">
                    <p>A nemzetk&ouml;zi piacon jelenl&eacute;v&#337; pszichol&oacute;gusokb&oacute;l,&eacute;s fejvad&aacute;szokb&oacute;l &aacute;ll&oacute; tan&aacute;csad&oacute; munkaer&#337; k&ouml;zvet&iacute;t&#337; c&eacute;g vagyunk, aki a munkaer&#337; kik&ouml;zvet&iacute;t&eacute;s&eacute;n t&uacute;l kiemelt figyelmet ford&iacute;t a szervezetek &eacute;s a munkav&aacute;llal&oacute;k k&ouml;zti egyens&uacute;ly megteremt&eacute;s&eacute;re, ezzel t&aacute;mogatva a k&ouml;lcs&ouml;n&ouml;s, hossz&uacute;t&aacute;v&uacute; el&eacute;gedetts&eacute;get.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>V&aacute;llalkoz&aacute;sunk azon felismer&eacute;sb&#337;l fakad, miszerint a bev&aacute;l&aacute;shoz nem el&eacute;g csup&aacute;n a versenyk&eacute;pes fizet&eacute;s, fontos a megfelel&#337; eletkorulmenyek biztositasa is, &iacute;gy kiz&aacute;r&oacute;lag ellen&#337;rz&ouml;tt partnerekkel dolgozunk egy&uuml;tt.
                    </p>
                </div>
            </div>


        </div>
    </div>


    <div id="gtco-portfolio" class="gtco-section">
        <div class="gtco-container" id="whyus">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>Mi&eacute;rt pont vel&uuml;nk?</h2>

                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-12">
                    <ul id="gtco-portfolio-list">
                        <li class="two-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_1.jpg); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                    <h2>Mert ig&eacute;nyes sz&aacute;ll&aacute;s v&aacute;r r&aacute;d</h2>

                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_2.jpg); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">

                                    <h2>Mert csal&aacute;dias, bar&aacute;ts&aacute;gos l&eacute;gk&ouml;r fogad</h2>

                                </div>
                            </a>
                        </li>


                        <li class="one-half animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_3.jpg); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <h2>Mert teljes k&ouml;r&#369; ay &uuml;gyint&eacute;z&eacute;s, ebonyol&iacute;tjuk  a munk&aacute;ba &aacute;ll&aacute;st (ad&oacute;sz&aacute;m ig&eacute;nyl&eacute;s, adminisztr&aacute;ci&oacute;)</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-half animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_4.jpg); ">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <h2>Mert magyar nyelv&#369; kapcsolattart&oacute;t biztos&iacute;tunk</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_5.jpg); ">
                            <a href="#" class="color-5">
                                <div class="case-studies-summary">
                                    <h2>Mert biztons&aacute;gos munkak&ouml;r&uuml;lm&eacute;nyeket teremt&uuml;nk ahol meg van becs&uuml;lve minden munkav&aacute;llal&oacute;</h2>
                                </div>
                            </a>
                        </li>
                        <li class="two-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(microsite/images/img_6.jpg); ">
                            <a href="#" class="color-6">
                                <div class="case-studies-summary">
                                    <h2>Mert korrekt b&eacute;rez&eacute;st biztos&iacute;tunk</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="gtco-section">
        <div class="gtco-container">

            <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <p>Az al&aacute;bbi ter&uuml;leteken vagyunk jelen  Hollandi&aacute;ban, Belgiumban, N&eacute;metorsz&aacute;gban, Ausztri&aacute;ban, Angli&aacute;ban</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Adminisztr&aacute;ci&oacute;</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Mez&#337;gazdas&aacute;g</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>&Eacute;p&iacute;t&#337;ipar</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Vend&eacute;gl&aacute;t&aacute;s</h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Termel&eacute;s &eacute;s gy&aacute;rt&aacute;s </h3>
                        </div>
                    </div>

                    <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Logisztika &eacute;s sz&aacute;ll&iacute;tm&aacute;nyoz&aacute;s</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>

</div>

</body>
</html>