<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="ms-main">
    <div id="gtco-history" class="gtco-section border-bottom animate-box fadeInUp animated-fast" >
        <div class="gtco-container" id="aboutus">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>R&oacute;lunk</h2>
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-12 text-center" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <p>A Human Skill team a poz&iacute;ci&oacute;k sz&eacute;les palett&aacute;j&aacute;t k&iacute;n&aacute;lja a szellemi munk&aacute;kt&oacute;l kezdve a fizikai szakmunk&aacute;kon &aacute;t az egyszer&#369; betan&iacute;tott munk&aacute;kig. Recruiter csapatunk  a belf&ouml;ldi aj&aacute;nlatok mellett N&eacute;metorsz&aacute;gba, Hollandi&aacute;ba,Sv&eacute;dorsz&aacute;gba, &Iacute;rorsz&aacute;gba &eacute;s Angli&aacute;ba k&ouml;zvet&iacute;t ki munkaer&#337;t. Jelentkezz &eacute;s a teljes k&ouml;r&#369; &uuml;gyint&eacute;z&eacute;st magunkra v&aacute;llalva, ak&aacute;r h&aacute;rom napon bel&uuml;l m&aacute;r  munk&aacute;ba is  &aacute;llhatsz!
                        C&eacute;g&uuml;nk teljes k&ouml;r&#369;en gondoskodik a k&uuml;lf&ouml;ldi munkav&aacute;llal&aacute;ssal j&aacute;r&oacute; &uuml;gyint&eacute;z&eacute;sr&#337;l! Folyamatos t&aacute;mogat&oacute; jelleggel k&iacute;s&eacute;rj&uuml;k &uuml;gyed &eacute;s m&ouml;g&ouml;tted &aacute;llunk ak&aacute;rmilyen probl&eacute;ma mer&uuml;lj&ouml;n is fel, hiszen egy csapat vagyunk! A tev&eacute;kenys&eacute;g&uuml;nk teljesen d&iacute;jmentes, nincsenek rejtett j&aacute;rul&eacute;kos k&ouml;lts&eacute;gek, valamint nem  sz&aacute;molunk fel k&ouml;zvet&iacute;t&#337;i d&iacute;jat sem!
                    </p>
                </div>
            </div>
            <div class="row row-pb-md">

                <div class="col-md-6 text-right" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <a href="/allasok/munkavallaloknak#description" class="btn btn-white btn-outline">Munkav&aacute;llal&oacute;knak</a>
                </div>
                <div class="col-md-6" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <a href="/allasok/munkaltatoknak#description" class="btn btn-white btn-outline">Munk&aacute;ltat&oacute;knak</a>
                </div>
            </div>
        </div>
    </div>


    <div id="gtco-portfolio" class="gtco-section">
        <div class="gtco-container" id="whyus">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>Mi&eacute;rt pont vel&uuml;nk?</h2>

                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-12">
                    <ul id="gtco-portfolio-list">
                        <li class="two-third" data-aos="zoom-in-right" data-aos-easing="ease-in-out" data-aos-duration="1000">
                            <a href="#" class="color-2">
                                <img src="assets/images/csempe-4.jpg" alt="test" class="img-responsive"/>

                                <div class="carousel-caption case-studies-summary">
                                    <h2>Mert ig&eacute;nyes sz&aacute;ll&aacute;s v&aacute;r r&aacute;d</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third " data-aos="zoom-in-left" data-aos-easing="ease-in-out" data-aos-duration="1000"
                            style="background-image: url('/assets/images/csaladias2.jpg'); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                    <h2>Mert csal&aacute;dias, bar&aacute;ts&aacute;gos l&eacute;gk&ouml;r fogad</h2>
                                </div>
                            </a>
                        </li>


                        <li class="one-half " data-aos="zoom-in-right" data-aos-easing="ease-in-out" data-aos-duration="1000"
                            style="background-image: url('/assets/images/.jpg'); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <h2>Mert teljes k&ouml;r&#369; az &uuml;gyint&eacute;z&eacute;s, lebonyol&iacute;tjuk  a munk&aacute;ba &aacute;ll&aacute;st (ad&oacute;sz&aacute;m ig&eacute;nyl&eacute;s, adminisztr&aacute;ci&oacute;)</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-half" data-aos="zoom-in-left" data-aos-easing="ease-in-out" data-aos-duration="1000" style="background-image: url('/assets/images/coord.jpg'); ">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <h2>Mert magyar nyelv&#369; kapcsolattart&oacute;t biztos&iacute;tunk</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-third" data-aos="zoom-in-right" data-aos-easing="ease-in-out" data-aos-duration="1000"
                            style="background-image: url('/assets/images/biztonsagos.JPG'); ">
                            <a href="#" class="color-5">
                                <div class="case-studies-summary">
                                    <h2>Mert biztons&aacute;gos munkak&ouml;r&uuml;lm&eacute;nyeket teremt&uuml;nk ahol meg van becs&uuml;lve minden munkav&aacute;llal&oacute;</h2>
                                </div>
                            </a>
                        </li>
                        <li class="two-third " data-aos="zoom-in-left" data-aos-easing="ease-in-out" data-aos-duration="1000"
                            style="background-image: url('/assets/images/csempe-5.jpg'); ">
                            <a href="#" class="color-6">
                                <div class="case-studies-summary">
                                    <h2>Mert korrekt b&eacute;rez&eacute;st biztos&iacute;tunk</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="gtco-section">
        <div class="gtco-container">

            <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <p>Az al&aacute;bbi ter&uuml;leteken vagyunk jelen  Hollandi&aacute;ban, Belgiumban, N&eacute;metorsz&aacute;gban, Ausztri&aacute;ban, Angli&aacute;ban</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left" data-aos="zoom-in-right" data-aos-delay="50" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Adminisztr&aacute;ci&oacute;</h3>
                        </div>
                    </div>

                    <div class="feature-left " data-aos="zoom-in-right" data-aos-delay="100" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Mez&#337;gazdas&aacute;g</h3>
                        </div>
                    </div>

                    <div class="feature-left" data-aos="zoom-in-right" data-aos-delay="150" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>&Eacute;p&iacute;t&#337;ipar</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-left" data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Vend&eacute;gl&aacute;t&aacute;s</h3>
                        </div>
                    </div>

                    <div class="feature-left" data-aos="zoom-in-right" data-aos-delay="250" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Termel&eacute;s &eacute;s gy&aacute;rt&aacute;s </h3>
                        </div>
                    </div>

                    <div class="feature-left " data-aos="zoom-in-right" data-aos-delay="300" data-aos-duration="1000">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Logisztika &eacute;s sz&aacute;ll&iacute;tm&aacute;nyoz&aacute;s</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>

    <div id="gtco-counter" class="gtco-section">
        <div class="gtco-container">
            <div class="row">

                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="feature-center">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
                        <span class="counter js-counter" data-from="0" data-to="22070" data-speed="5000"
                              data-refresh-interval="50">1</span>
                        <span class="counter-label">L&aacute;togat&oacute;k</span>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="feature-center">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
                        <span class="counter js-counter" data-from="0" data-to="97" data-speed="5000"
                              data-refresh-interval="50">1</span>
                        <span class="counter-label">Sikeres kik&ouml;zvet&iacute;t&eacute;sek</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="feature-center">
						<span class="icon">
							<i class="ti-briefcase"></i>
						</span>
                        <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000"
                              data-refresh-interval="50">1</span>
                        <span class="counter-label">Poz&iacute;ci&oacute;ink sz&aacute;ma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="gtco-team" class="gtco-section">
        <div class="gtco-container" id="references">
            <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Referenci&aacute;ink</h2>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 " data-aos="flip-up" data-aos-duration="1000">
                    <div class="gtco-staff">
                        <img src="microsite/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
                        <h3>Hush Raven</h3>
                        <strong class="role">Front-end Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 "  data-aos="flip-up" data-aos-duration="1000">
                    <div class="gtco-staff">
                        <img src="microsite/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
                        <h3>Hush Raven</h3>
                        <strong class="role">Front-end Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 "  data-aos="flip-up" data-aos-duration="1000">
                    <div class="gtco-staff">
                        <img src="microsite/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
                        <h3>Alex King</h3>
                        <strong class="role">Back-end Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>


            </div>

        </div>
    </div>

</div>

</body>
</html>