<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="page-header">
    <div class="page-header">
        <div class="header-logo"></div>
        <nav class="menu">
            <ul class="menu-ul" style="display:flex;">
                <li><a class="firstpage secondpage" href="#top" th:text="${main}">Main</a></li>
                <li><a class="firstpage" href="#work" th:text="${recruitment}">Recruitment</a></li>
                <li><a class="firstpage secondpage" href="#about-us" th:text="${aboutus}">About us</a></li>
                <li class="in-slider"><a class="secondpage" href="#company" th:text="${orgdev}">Organisational development</a></li>
                <li class="in-slider"><a class="secondpage" href="#training" th:text="${training}">Training</a></li>
                <li class="in-slider"><a class="secondpage" href="#coaching" th:text="${coaching}">Coaching</a></li>
                <li class="in-slider"><a class="secondpage" href="#services" th:text="${psychservices}">Other psychological services</a></li>

                <li><a class="firstpage secondpage" href="#referenciak" th:text="${references}">References</a></li>
                <li><a class="firstpage secondpage" href="#contact-cont" th:text="${contact}">Contact</a></li>
                <li><a class="firstpage" href="#cv-upload-container"; th:text="${uploadCV}">CV Upload</a></li>

            </ul>
        </nav>
    </div>
    <div class="lang-select">
        <li class="lang-item lang-item-5 lang-item-hu current-lang"><a hreflang="hu-HU" href="http://www.humanskill.hu/?lang=hu">Magyar</a></li>
        <li class="lang-item lang-item-3 lang-item-en"><a hreflang="en-GB" href="http://www.humanskill.hu/">English</a></li>
    </div>
    <button class="c-hamburger c-hamburger--htla">
        <span>toggle menu</span>
    </button>
    <nav class="mobile-menu">
        <ul class="menu-ul">
            <li><a class="firstpage secondpage" href="#top" th:text="#{main}">Main</a></li>
            <li><a class="firstpage" href="#work" th:text="#{recruitment}">Recruitment</a></li>
            <li><a class="firstpage secondpage" href="#about-us" th:text="#{aboutus}">About us</a></li>
            <li class="in-slider"><a class="secondpage" href="#company" th:text="#{orgdev}">Organisational development</a></li>
            <li class="in-slider"><a class="secondpage" href="#training" th:text="#{training}">Training</a></li>
            <li class="in-slider"><a class="secondpage" href="#coaching" th:text="#{coaching}">Coaching</a></li>
            <li class="in-slider"><a class="secondpage" href="#services" th:text="#{psychservice}">Other psychological services</a></li>

            <li><a class="firstpage secondpage" href="#referenciak" th:text="#{references}">References</a></li>
            <li><a class="firstpage secondpage" href="#contact-cont" th:text="#{contact}">Contact</a></li>
            <li><a class="firstpage" href="#cv-upload-container" th:text="#{uploadCV}">CV Upload</a></li>

        </ul>
    </nav>
</div>

</body>
</html>