<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

</head>
<body>
<div th:fragment="psy-rez">
    <div class="content-block row" th:each=" item: ${coachSection}">
        <h2 class="col-md-4 non-reached" th:text="${item.key}">„Bankár Coaching”</h2>

        <div class="col-md-8 non-reached" style="border-left: 1px solid yellow;" th:utext="${item.value}">Szolgáltatásunk speciálisan a pénzügyi, vagyonkezelési szektor munkatársainak, meghatározóan szenior befektetési tanácsadóknak, privátbankároknak, illetve ezen szegmens közép- és felsővezetőinek kínál lehetőséget a szakma folyamatos kihívásai közepette a saját személyes reziliencia és adaptív (vezetői) stratégiák kialakítására, erősítésére. Szakember team-ünk jelentős piaci tapasztalattal, hazai és regionális privát banki környezetben szerzett évtizedes gyakorlattal rendelkező privátbanki vezető, coach, illetve pszichológus kollégákból áll.</div>
    </div>
</div>
<div class="content container">
    <h2 class="epszhead" th:text="${psytest}">Pszichológiai tesztelés</h2>
    <div class="content-block row" th:each=" item: ${psySection}">
        <h2 class="col-md-6 non-reached" th:text="${item.key}">Mik is azok a pszichológiai tesztek?</h2>

        <div class="col-md-6 non-reached" th:utext="${item.value}">Pszichometriai értelmezésben olyan standardizált eljárások, amelyek egy meghatározott

            időpontban történő viselkedés mintavételei. Ezen eredmények kvantifikálhatóak,

            kiértékelhetőek, melyek &nbsp;kiváló visszajelzői viselkedésmintázatunknak, reakcióinknak és

            mérhetőségének, reliabilitásának köszönhetően segíthetnek minket fejlődésünkben,

            változásainkban.</div>
    </div>
</div>
<h2  class="epszhead" th:text="${rezdev}">Reziliencia fejlesztés</h2>
<div class="content-block row" th:each="item : ${rezSection}">
    <h2 class="col-md-6 non-reached" th:text="${item.key}">Mi az a reziliencia?</h2>

    <div class="col-md-6 non-reached"  th:utext="${item.value}"></div>
</div>



</body>
</html>