<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="sofor">
    <div class="gtco-section" id="munkaink">
        <div class="gtco-container">
            <div class="clearfix" >
                <div class="col-md-4 ">
                    <div class="image-zoom img-responsive img-desktop">
                        <img class="img-responsive" src="/assets/images/sofor.jpg"/>

                        <span class="zoom-icon triangle-button"></span>

                    </div><!-- /.image-zoom -->
                    <div class="downloads contact-desktop">
                        <ul>
                            <li><i class="icon-phone"></i><a class=" " href="tel:+36705775080" target="_blank">+36705775080</a></li>
                            <li><i class="icon-mail"></i><a class=" " href="mailto:info@humanskill.hu" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h1><span> Kisz&#xE1;ll&#xED;t&#xF3; sof&#x151;r - N&#xE9;metorsz&#xE1;g</span></h1>
                    <p class="small">  </p>
                    <div class="downloads contact-mobile" style="display:none;">
                        <ul>
                            <li><i class="icon-phone"></i><a class=" " href="tel:+36705775080" target="_blank">+36705775080</a></li>
                            <li><i class="icon-mail"></i><a class=" " href="mailto:info@humanskill.hu" target="_blank">info@humanskill.org</a></li>
                            <li>
                                <form method="post"  enctype="multipart/form-data" action="/save-cv" >
                                    <label for="file-706"><i class="icon-file"></i> &Ouml;n&eacute;letrajz felt&ouml;lt&eacute;s<span class="loader"></span> <span class="tick"></span> <span class="error" style="color:red;display:none;">Hiba t&ouml;rt&eacute;nt, pr&oacute;b&aacute;lja &uacute;jra!</span></label>
                                    <input type="file" id="file-706" name="file-706" />
                                    <input type="submit"  value="submit" id="submit"/>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div style=""><br/><span style="font-size: 12pt;"><strong>Feladatok:</strong></span><br/><span style="font-size: 12pt;"></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>- k&#xF6;zponti rakt&#xE1;rb&#xF3;l b&#xFA;torcsal&#xE1;dok teheraut&#xF3;ra t&#xF6;rt&#xE9;n&#x151; felpakol&#xE1;sa</span></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>- b&#xFA;torok kisz&#xE1;ll&#xED;t&#xE1;sa a megrendel&#x151; fel&#xE9;</span></span></div>
                    <div style=""><span style="font-size: 12pt;"><span>- helysz&#xED;ni &#xF6;sszeszerel&#xE9;s</span></span></div>



                    <div style=""><span style="font-size: 12pt;"><strong>B&eacute;rez&eacute;s</strong></span></div>
                    <span style="font-size: 12pt;">- havi brutt&#xF3; 2000-2500&#x20AC; kezd&#x151; b&#xE9;r</span><br/>


                    <div style=""><span style="font-size: 12pt;"><span></span></span></div><br/>
                    <div style=""><span style="font-size: 12pt;"><strong>Elv&aacute;r&aacute;sok:</strong></span></div>
                    <div style=""><span style="font-size: 12pt;">- rugalmass&#xE1;g, alkalmazkod&#xF3; k&#xE9;szs&#xE9;g</span></div>
                    <div style=""><span style="font-size: 12pt;">- megb&#xED;zhat&#xF3;s&#xE1;g, terhelhet&#x151;s&#xE9;g</span></div>
                    <div style=""><span style="font-size: 12pt;">- B kateg&#xF3;ri&#xE1;s jogos&#xED;tv&#xE1;ny, vezet&#xE9;si rutin!</span></div>
                    <div style="">
                        <br/>
                        <div style=""><span style="font-size: 12pt;"><strong>El&#x151;ny:</strong></span></div>

                        <span style="font-size: 12pt;">- C kateg&#xF3;ri&#xE1;s jogos&#xED;tv&#xE1;ny</span><br/>
                        <span style="font-size: 12pt;">- n&#xE9;met nyelvtud&#xE1;s</span><br/>
                        <span style="font-size: 12pt;">- asztalos munk&#xE1;ban val&#xF3; j&#xE1;rtass&#xE1;g</span><br/>

                        <span style="font-size: 12pt;"><strong>Amit k&iacute;n&aacute;lunk:</strong></span><br/>

                        <span style="font-size: 12pt;">- ingyenes n&#xE9;met nyelvi k&#xE9;pz&#xE9;s B&#xE9;k&#xE9;scsab&#xE1;n</span><br/>
                        <span style="font-size: 12pt;">- ingyenesen megszerezhet&#x151; C kateg&#xF3;ri&#xE1;s jogos&#xED;tv&#xE1;ny valamint GKI vizsga</span><br/>
                        <span style="font-size: 12pt;">- a tanfolyamok ideje alatt havi nett&#xF3; 140 ezer forint tanulm&#xE1;nyi hozz&#xE1;j&#xE1;rul&#xE1;s</span><br/>
                        <span style="font-size: 12pt;">- d&#xED;jmentes sz&#xE1;ll&#xE1;slehet&#x151;s&#xE9;g</span><br/>
                        <span style="font-size: 12pt;">- tanfolyamokat k&#xF6;vet&#x151;en, hivatalos n&#xE9;met bejelent&#xE9;s</span><br/>
                        <span style="font-size: 12pt;">- hossz&#xFA; t&#xE1;v&#xFA; munkalehet&#x151;s&#xE9;g</span><br/>

                    </div>

                    <div class="display-tc phone-mobile" style="display:none;">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box fadeInUp animated-fast " >
                                    <p style="margin-bottom:0;">Munk&aacute;val kapcsolatos k&eacute;rd&eacute;se eset&eacute;n k&eacute;rj&uuml;k adja meg telefonsz&aacute;m&aacute;t &eacute;s koll&eacute;g&aacute;nk egyike 24 &oacute;r&aacute;n bel&uuml;l visszah&iacute;vja!</p>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Telefonsz&aacute;m" aria-label="Telefonsz&aacute;m" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append mt-5">
                                            <button class="btn btn-white btn-outline" type="button" id="submitFormBottom">Visszah&iacute;v&aacute;st k&eacute;rek!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-zoom img-responsive img-mobile" style="display:none;">
                        <img class="img-responsive" src="/assets/images/sofor.jpg"/>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>