<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="szakmunkak">
    <div >
        <div id="gtco-features">
            <div class="gtco-container" id="munkaink">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2>Szakmunk&aacute;k</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="/allasok/allas">
                            <div class="feature-center" data-aos="flip-left" >
                                <a href="/allasok/gipszkartonozo#munkaink">

                                    <span class="icon">
                                        <i class="icon-map"></i>
                                    </span>
                                    <h3>Gipszkarton szerel&#337;</h3>
                                    <p>Folyamatos munk&aacute;ba &aacute;ll&aacute;ssal keres&uuml;nk gipszkartonoz&oacute;kat Hollandia ter&uuml;let&eacute;re! </p>
                                </a>

                            </div>
                        </a>

                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="50" >
                            <a href="/allasok/asztalos#munkaink">

                                <span class="icon">
                                    <i class="fab fa-windows"></i>
                                </span>
                                <h3>Asztalos</h3>
                                <p>Holland partner&uuml;nkh&ouml;z keres&uuml;nk &aacute;cs, asztalos, ablak &ouml;sszeszerel&#337; szakembereket.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center " data-aos="flip-left" data-aos-delay="50">
                            <a href="/allasok/cnc#munkaink">

                                <span class="icon">
                                    <i class="ti-settings"></i>
                                </span>
                                <h3>CNC</h3>
                                <p>CNC g&eacute;pkezel&#337;, eszterg&aacute;lyos, programoz&oacute; - N&eacute;metorsz&aacute;g</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="100">
                            <a href="/allasok/hentes#munkaink">

                                <span class="icon">
                                    <i >&#128298;</i>
                                </span>
                                <h3>Hentes</h3>
                                <p>Marha v&aacute;g&oacute;h&iacute;dra keres&uuml;nk henteseket, nyelvtud&aacute;s nem sz&uuml;ks&eacute;ges!</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="150">
                            <a href="/allasok/komuves#munkaink">

                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <h3>K&#337;m&#369;ves</h3>
                                <p>Folyamatos kezd&eacute;ssel keres&uuml;nk k&#337;m&#369;veseket hollandiai munkav&eacute;gz&eacute;sre.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center " data-aos="flip-left" data-aos-delay="200">
                            <a href="/allasok/hegeszto#munkaink">

                                <span class="icon">
                                    <i class="fas fa-shield-alt"></i>
                                </span>
                                <h3>Hegeszt&#337;</h3>
                                <p>Tapasztalt hegeszt&#337;ket keres&uuml;nk n&eacute;metorsz&aacute;gi partnereinkhez Baden-W&uuml;rttemberg r&eacute;gi&oacute;ba!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="250">
                            <a href="/allasok/villanyszerelo#munkaink">

                                <span class="icon">
                                    <i class="fas fa-bolt"></i>
                                </span>
                                <h3>Villanyszerel&#337;</h3>
                                <p>Megb&iacute;zhat&oacute; partner&uuml;nk ipari- &eacute;s lak&aacute;s&eacute;p&iacute;tkez&eacute;sekben alkalmaz tapasztalt villanyszerel&#337;ket a n&eacute;metorsz&aacute;gi Baden-W&uuml;rttemberg tartom&aacute;ny ter&uuml;let&eacute;n.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center " data-aos="flip-left" data-aos-delay="300">
                            <a href="/allasok/festo#munkaink">

                                <span class="icon">
                                    <i class="fas fa-paint-roller"></i>
                                </span>
                                <h3>Fest&#337; - tap&eacute;t&aacute;z&oacute;</h3>
                                <p>Megb&iacute;zhat&oacute; partner&uuml;nk ipari- &eacute;s lak&aacute;s&eacute;p&iacute;tkez&eacute;sekben alkalmaz tapasztalt fest&#337;ket, m&aacute;zol&oacute;kat, tap&eacute;t&aacute;z&oacute;kat a n&eacute;metorsz&aacute;gi Baden-W&uuml;rttemberg tartom&aacute;ny ter&uuml;let&eacute;n.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="350">
                            <a href="/allasok/vizgazszerelo#munkaink">

                                    <span class="icon">
                                        <i class="fas fa-wrench"></i>
                                    </span>
                                <h3>V&iacute;z-g&aacute;z szerel&#337;</h3>
                                <p>Megb&iacute;zhat&oacute; partner&uuml;nk ipari- &eacute;s lak&aacute;s&eacute;p&iacute;tkez&eacute;sekben alkalmaz tapasztalt v&iacute;z-g&aacute;z-f&#369;t&eacute;s szerel&#337;ket a n&eacute;metorsz&aacute;gi Baden-W&uuml;rttemberg tartom&aacute;ny ter&uuml;let&eacute;n.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center" data-aos="flip-left" data-aos-delay="400">
                            <a href="/allasok/targoncavezeto#munkaink">

                                <span class="icon">
                                    <i class="fas fa-truck-loading"></i>
                                </span>
                                <h3>Targonc&aacute;s</h3>
                                <p>Targonc&aacute;s munkat&aacute;rsakat keres&uuml;nk N&eacute;metorsz&aacute;gba aut&oacute;ipari &uuml;gyfel&uuml;nkh&ouml;z.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>