<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="szellemimunkak">
    <div>
        <div id="gtco-features">
            <div class="gtco-container" id="munkaink">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2>Szellemi munk&aacute;k</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" >
						<span class="icon">
                            <i class="fas fa-location-arrow"></i>
                        </span>
                            <a href="/allasok/koordinator#munkaink">
                                <h3>Munka&uuml;gyi koordin&aacute;tor - Hollandia</h3>
                                <p>Holland partnerc&eacute;g&uuml;nkh&ouml;z keres&uuml;nk talpraesett szem&eacute;ly&uuml;gyi &uuml;gyint&eacute;z&#337;t!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="50">
						<span class="icon">
							<i class="fas fa-address-book"></i>
						</span>
                            <a href="/allasok/toborzo#munkaink">
                                <h3>Toborz&aacute;si &eacute;s kiv&aacute;laszt&aacute;si munkat&aacute;rs</h3>
                                <p>B&#337;v&uuml;l&eacute;s&uuml;nk ok&aacute;n saj&aacute;t csapatunkba keres&uuml;nk munkat&aacute;rsat!</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn" data-aos="flip-left" data-aos-delay="100">
						<span class="icon">
							<i class="fas fa-info"></i>
						</span>
                            <a href="/allasok/it-engineer#munkaink">
                                <h3>Internet Bank Senior Engineer</h3>
                                <p>We are looking for experienced IT Engineer with high level IT Security knowledge</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>